
{% extends 'Padre.html' %}
{% load static %}

{% block content %}

<center> <h1 class = "title"> Informacion acerca de la pagina </h1> </center>

<div class = "container">
    <P>Esta pagina es un ejemplo de lo que se puede hacer con DJANGO , en este caso solo cree 2 modelos los cuales son profesores y constelaciones pero se puede emplear para infinidad de casos. En el caso de trener un cliente puedo adecuar su idea a una pagina funcional.
        Esta pagina serviria para unos profesores los cuales sepan sobre una constelacion y se puedan exponer y vender sus conocimientos.
    </P>
</DIV>    

{% endblock %}