{% extends 'Padre.html' %}

{% block content %}



<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-header text-center">
                    <h2>Registro</h2>
                </div>
                <div class="card-body">
                    <form method="post" action="{% url 'Register' %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        {% if form.errors %}
                            <div class="alert alert-danger">
                                {{ form.errors }}
                            </div>
                        {% endif %}
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Registrar</button>
                        </div>
                        <div class="container text-center">
                            <p>Ya tienes una cuenta? <a href="{% url 'Login' %}">Iniciar Sesión</a></p>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}